@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600, &subset=latin-ext');
@import 'styles/variables';

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

input {
  font-family: 'Montserrat', sans-serif;
}
